# m h  dom mon dow   command
#========= 10 PM => start harvesting
00 22 * * * /usr/bin/php /opt/eol_php_code/rake_tasks/harvest_resources_cron_task.php > /opt/eol_php_code/log/harvest.log 2>&1

#========= 9:00 PM => download resources
00 21 * * * /usr/bin/php /opt/eol_php_code/update_resources/update_downloadable_resources.php > /var/www/eol_php_code/log/downloads.log

#========= 6:00 PM => run connectors
# TODO: Not used; remove from eol_php_code
# 0 13 * * * /usr/bin/php /opt/eol_php_code/update_resources/update_connector_resources.php > /var/www/eol_php_code/log/cron.log

#========= 6:00 PM => run stats
00 18 * * * /usr/bin/php /opt/eol_php_code/applications/taxon_page_metrics/generate_taxon_page_metrics.php > /var/www/eol_php_code/log/metrics.log

#========= 4:00 pm  --  namelink data objects
00 16 * * * /usr/bin/php /opt/eol_php_code/rake_tasks/namelink_data_objects.php > /var/www/eol_php_code/log/namelink.log

#========= 9:00 am, every 1st day of the month -- generate MonthlyGoogleAnalytics stats (estimated 1.5-2 hours execution)
00 09 1 * * /usr/bin/php /opt/eol_php_code/applications/google_stats/generate_monthly_stats.php > /var/www/eol_php_code/log/ga_stats.log

#========= 9:40 am -- call Ruby script to send comments and curator actions to Flickr
#BROKEN? 30 9 * * *  /usr/bin/php /opt/eol_php_code/rake_tasks/send_flickr_comments.php > /var/www/eol_php_code/log/flickr.log

#========= 3:20 pm -- call Ruby script to send comments and curator actions to users and partners
# 20 15 * * *  /usr/bin/php /opt/eol_php_code/rake_tasks/partner_reports_emailer.php > /var/www/eol_php_code/log/cron.log

#========= 1:00 am first of every month => Update BHL links
00 1 1 * * /usr/bin/php /opt/eol_php_code/rake_tasks/update_bhl_names.php > /var/www/eol_php_code/log/bhl_names.log

#========= 12:00 pm on the 2nd and 16th of every month - refresh the export archive of all objects
00 12 2,16 * * /usr/bin/php /opt/eol_php_code/rake_tasks/create_eol_archive_objects.php > /var/www/eol_php_code/log/eol_archive.log

#========= 3:00 pm on the 2nd and 16th of every month - refresh the export archive of EOL page names
00 15 2,16 * * /usr/bin/php /opt/eol_php_code/rake_tasks/create_eol_archive_names_only.php > /var/www/eol_php_code/log/eol_archive.log

#==== Monthly, we need to rebuild site search's spelling suggestions.
00 04 28 * * curl -s -f -o /var/www/eol_php_code/log/solr.log 'http://eol-search1.rc.fas.harvard.edu:8080/solr/site_search/select/?q=yiger&spellcheck.q=riger&spellcheck=true&spellcheck.build=true'

#========= Connectors

#==== 8 PM, every 16th day of the month – [EOL Metrics] [AKA EOL Statistics]
0 20 16 * * /usr/bin/php /opt/eol_php_code/update_resources/connectors/736.php > /var/www/eol_php_code/log/connectors.log

#==== 8:30 PM => Flickr
30 20 * * 4 /usr/bin/php /opt/eol_php_code/update_resources/connectors/15.php > /var/www/eol_php_code/log/connectors.log

#==== 2 AM on the 3rd and 17th of every month => Wikimedia Commons
0 2 3,17 * * /usr/bin/php /opt/eol_php_code/update_resources/connectors/71.php > /var/www/eol_php_code/log/connectors.log

#==== 4 AM every Monday => Wikipedia
0 04 * * 1 /usr/bin/php /opt/eol_php_code/update_resources/connectors/80.php > /var/www/eol_php_code/log/connectors.log

#==== 5 AM, every 3th day of the month -- run the MorphBank connector (estimated 3-4 hours execution)
0 05 3 * * /usr/bin/php /opt/eol_php_code/update_resources/connectors/83.php > /var/www/eol_php_code/log/connectors.log

#==== 9 AM, every 21st day of the month -- run the WORMS connector
30 17 21 * * /usr/bin/php /opt/eol_php_code/update_resources/connectors/26.php > /var/www/eol_php_code/log/connectors.log

#==== 3 PM BioPix - first of the month every other month
00 15 1 * * /usr/bin/php /opt/eol_php_code/update_resources/connectors/31.php > /var/www/eol_php_code/log/connectors.log

#==== 8:30pm => Youtube
30 21 * * 1 /usr/bin/php /opt/eol_php_code/update_resources/connectors/323.php > /var/www/eol_php_code/log/connectors.log

#==== 8:45pm => Vimeo
45 21 * * 2 /usr/bin/php /opt/eol_php_code/update_resources/connectors/214.php > /var/www/eol_php_code/log/connectors.log

#==== 3 AM second day of the month every other month => FishBase (estimated 26 minutes execution) 
00 03 2 2,4,6,8,10,12 * /usr/bin/php /opt/eol_php_code/update_resources/connectors/42.php > /var/www/eol_php_code/log/connectors.log 

#==== 4 AM third day of the month every other month => MarLIN (estimated 81 seconds execution) 
00 04 3 2,4,6,8,10,12 * /usr/bin/php /opt/eol_php_code/update_resources/connectors/195.php > /var/www/eol_php_code/log/connectors.log 

#==== 8 PM every Sunday => Amphibiaweb (estimated 2.5 minutes execution) 
00 21 * * 0 /usr/bin/php /opt/eol_php_code/update_resources/connectors/21.php > /var/www/eol_php_code/log/connectors.log 

#==== 8 PM, every 4th day of the month -- [Photo ID Guide to Larvae at Hydrothermal Vents] (estimated 15 seconds execution) 
0 21 4 * * /usr/bin/php /opt/eol_php_code/update_resources/connectors/121.php > /var/www/eol_php_code/log/connectors.log 

#==== 8 PM, 10th of the month every other month => [Insect Visitors of Illinois Wildflowers] (estimated 16 minutes execution) 
00 20 10 1,3,5,7,9,11 * /usr/bin/php /opt/eol_php_code/update_resources/connectors/143.php > /var/www/eol_php_code/log/connectors.log 

#==== 6 AM, 6th of the month, quarterly => [BOLD Systems species level taxa] (estimated 8 days execution) 
00 06 6 3,6,9,12 * /usr/bin/php /opt/eol_php_code/update_resources/connectors/212.php > /var/www/eol_php_code/log/connectors.log 

#==== 10 AM, 20th of the month, twice a year => [BOLD Systems - prepare higher level taxa list] (estimated 9 days execution) 
00 10 20 2,8 * /usr/bin/php /opt/eol_php_code/rake_tasks/generate_BOLD_higher_level_taxa.php > /var/www/eol_php_code/log/connectors.log 

#==== 7 AM, 3rd of the month, quarterly => [BOLD Systems higher level taxa] (estimated 4 days execution) 
00 07 3 2,5,8,11 * /usr/bin/php /opt/eol_php_code/update_resources/connectors/81.php > /var/www/eol_php_code/log/connectors.log 

#==== 7 AM, 13th of the month, 3x a year => [BOLD 2nd image resource]
00 07 13 2,6,10 * /usr/bin/php /opt/eol_php_code/update_resources/connectors/546.php > /var/www/eol_php_code/log/connectors.log

#==== 7 PM, every Wednesday => L&E Podcasts (estimated 10 seconds execution) 
00 19 * * 3 /usr/bin/php /opt/eol_php_code/update_resources/connectors/257.php > /var/www/eol_php_code/log/connectors.log 

#==== 5 PM, every 1st day of the month -- [Flora of Zimbabwe] (estimated 2 minutes execution)
0 17 1 * * /usr/bin/php /opt/eol_php_code/update_resources/connectors/327.php > /var/www/eol_php_code/log/connectors.log

#==== 5 AM, every 21th day of the month -- run the DiscoverLife connector (estimated 20 minutes execution)
00 05 21 * * /usr/bin/php /opt/eol_php_code/update_resources/connectors/223.php > /var/www/eol_php_code/log/connectors.log

#==== 4 AM, every 6th day of the month => NMNH Invertebrate Zoology resource
0 4 6 * * /usr/bin/php /opt/eol_php_code/update_resources/connectors/120.php > /var/www/eol_php_code/log/connectors.log

#==== 5 AM, every 6th day of the month => NMNH Entomology resource
0 5 6 * * /usr/bin/php /opt/eol_php_code/update_resources/connectors/176.php > /var/www/eol_php_code/log/connectors.log

#==== 6 AM every Saturday => NMNH Birds resource
0 6 6 * * /usr/bin/php /opt/eol_php_code/update_resources/connectors/341.php > /var/www/eol_php_code/log/connectors.log

#==== 7 AM every Saturday => NMNH Fishes resource
0 7 6 * * /usr/bin/php /opt/eol_php_code/update_resources/connectors/342.php > /var/www/eol_php_code/log/connectors.log

#==== 8 AM every Saturday => NMNH Herpetology Resource
0 8 6 * * /usr/bin/php /opt/eol_php_code/update_resources/connectors/343.php > /var/www/eol_php_code/log/connectors.log

#==== 9 AM every Saturday => NMNH Mammals Resource
0 9 6 * * /usr/bin/php /opt/eol_php_code/update_resources/connectors/344.php > /var/www/eol_php_code/log/connectors.log

#==== 10 AM every Saturday => NMNH Botany resource
0 10 6 * * /usr/bin/php /opt/eol_php_code/update_resources/connectors/346.php > /var/www/eol_php_code/log/connectors.log

#==== 5 AM, every 21st day of the month -- run the [Conservation Biology of Freshwater Turtles and Tortoises] connector (estimated 6 mins. execution)
0 05 21 * * /usr/bin/php /opt/eol_php_code/update_resources/connectors/90.php > /var/www/eol_php_code/log/connectors.log

#==== 6 AM, every 21st day of the month -- run the MCZHarvard connector (estimated 2 mins. execution)
0 06 21 * * /usr/bin/php /opt/eol_php_code/update_resources/connectors/201.php > /var/www/eol_php_code/log/connectors.log

#==== 1 AM every Saturday => [Ecomare: Dutch Species Catalogue] (estimated 18 minutes execution)
0 1 * * 6 /usr/bin/php /opt/eol_php_code/update_resources/connectors/414.php > /var/www/eol_php_code/log/connectors.log

#==== 8 AM, 21st of the month, quarterly => [Clements Birds Checklist] (estimated 5 mins. execution)
00 08 21 3,6,9,12 * /usr/bin/php /opt/eol_php_code/update_resources/connectors/527.php > /var/www/eol_php_code/log/connectors.log

#==== 4 AM every Tuesday => BHL images from BioDivLibrary Photostream, execution time 1 hour
0 4 * * 2 /usr/bin/php /opt/eol_php_code/update_resources/connectors/544.php > /var/www/eol_php_code/log/connectors.log

#==== 5 AM every Wednesday => SoundCloud, execution time 10 minutes
0 5 * * 3 /usr/bin/php /opt/eol_php_code/update_resources/connectors/511.php > /var/www/eol_php_code/log/connectors.log

#==== 4 AM every Saturday => Zookeys, execution time 5 minutes
0 4 * * 6 /usr/bin/php /opt/eol_php_code/update_resources/connectors/20.php > /var/www/eol_php_code/log/connectors.log

#==== 8 PM, 23rd of the month, quarterly => ITIS, execution time 15 minutes
00 20 23 1,4,7,10 * /usr/bin/php /opt/eol_php_code/update_resources/connectors/383.php > /var/www/eol_php_code/log/connectors.log 

#==== 3 AM, 3rd day of the month, quarterly => [NatureServe] (estimated 3 days execution, faster when already cached)
00 03 3 2,5,8,11 * /usr/bin/php /opt/eol_php_code/update_resources/connectors/263.php > /var/www/eol_php_code/log/connectors.log

#==== 5 AM, every 4th day of the month -- [Number of sequences in GenBank (DATA-1369)]
00 05 4 * * /usr/bin/php /opt/eol_php_code/update_resources/connectors/723.php > /var/www/eol_php_code/log/connectors.log

#==== 5 AM, every 5th day of the month -- [Number of DNA and specimen records in GGBN (DATA-1372)]
00 05 5 * * /usr/bin/php /opt/eol_php_code/update_resources/connectors/730.php > /var/www/eol_php_code/log/connectors.log

#==== 5 AM, every 6th day of the month -- [Number of records in GBIF (DATA-1370)]
00 05 6 * * /usr/bin/php /opt/eol_php_code/update_resources/connectors/731.php > /var/www/eol_php_code/log/connectors.log

#==== 3 AM, 3rd day of the month every other month => [chaloklum-diving.com]
00 03 3 2,4,6,8,10,12 * /usr/bin/php /opt/eol_php_code/update_resources/connectors/729.php > /var/www/eol_php_code/log/connectors.log

#==== Tuesdays at 8pm - FALO hierarchy
00 20 * * 2 /usr/bin/php /opt/eol_php_code/update_resources/connectors/778.php > /var/www/eol_php_code/log/connectors.log

#==== 3pm on the 26th of Jan, Apr, July and Oct - NCBI Taxonomy
00 15 26 1,4,7,10 * /usr/bin/php /opt/eol_php_code/update_resources/connectors/557.php > /var/www/eol_php_code/log/connectors.log

#==== 8 PM, 25th of the month, quarterly (Feb, May, Aug, Nov) => IUCN Structured Data 
00 20 25 2,5,8,11 * /usr/bin/php /opt/eol_php_code/update_resources/connectors/737.php > /var/www/eol_php_code/log/connectors.log
